<?xml version="1.0"?>
<config>
  <modules>
    <Synamen_TextFilter>
      <version>2.0.0</version>
    </Synamen_TextFilter>
  </modules>
  <frontend>
    <routers>
      <textfilter>
        <use>standard</use>
          <args>
            <module>Synamen_TextFilter</module>
            <frontName>textfilter</frontName>
          </args>
      </textfilter>
    </routers>
		<layout>
		  <updates>
			<textfilter>
			  <file>textfilter.xml</file>
			</textfilter>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <textfilter>
        <class>Synamen_TextFilter_Helper</class>
      </textfilter>
    </helpers>
	<blocks>
	  <textfilter>
		<class>Synamen_TextFilter_Block</class>
	  </textfilter>
	</blocks>
  </global>
</config> 